@import "variables";

body {
  font-family: Segoe UI Regular EastEuropean,Segoe UI,Segoe WP,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
  padding: 2.25rem 0 0;
  background-color: $base-background-color;
}
